.banner-div{
    border : 2px black solid;
    position: relative;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    display: flex;
   
}
#banner-title{
    color: white;

}